# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=cambia-esto-por-un-secreto-seguro

# PostgreSQL — Venezuela
DATABASE_URL_VE=postgresql://usuario:password@localhost:5432/inventory_ve

# PostgreSQL — Colombia
DATABASE_URL_CO=postgresql://usuario:password@localhost:5432/inventory_co
